{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

    <style>
        body{
            background-color: #101010;
        }
        p{
            margin: 1.5rem;
            color: white;
            font-family: 'Poppins',sans-serif;
            /*text-align: center;*/
        }
        a{
            color: #dcb489;
            cursor: pointer;
            text-decoration: underline;
        }
    </style>

    <p>
        Si un compte correspondant à votre adresse email existe, un email vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a></p>
{% endblock %}
