{#Anne Frank's Book description#}
{% extends 'base.html.twig' %}
{% block body %}
    <style>
        *,
        *::before,
        *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        body{
            background:
                    linear-gradient(75deg, hsla(0, 2%, 11%, 0.96), rgb(137, 137, 137));
            font:16px/1.2 'Poppins', sans-serif;
        }
        h1,h2,h3,h4,h5,h6{
            font-family: "Book Antiqua";
            font-weight: bolder;
            color: #ce9d60;
        }
        h1{
            font-family: Mistral;
            color: #303f2b;
            font-size: xx-large;
            text-align: center;
            margin: 20px 0;
        }
        h3{
            font-size: 16px;
            margin: 10px 0 0;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
        }

        .topnav a:hover {
            background-color: #222;
        }

        .topnav a.active {
            background-color: #303f2b42;
            color: white;
        }

        .topnav .icon {
            display: none;
        }

        @media screen and (max-width: 600px) {
            .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
                float: right;
                display: block;
            }
        }

        @media screen and (max-width: 600px) {
            .topnav.responsive {position: relative;}
            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }
            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        .popup_book {
            padding: 22px;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            box-shadow: rgb(137, 137, 137) 0px 50px 100px -20px, rgb(255, 255, 255) 0px 30px 60px -30px, rgba(28, 27, 27, 0.96) 0px -2px 6px 0px inset;
            background: #FFFFFF;

        }
        .content{
            text-align: justify ;
            margin: 0 20px;
            font-family: "Courier New";
            font-size: 14px;
        }

        .img2 {
            float: right;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin: 20px;
            width: 205.99px;
            height: 338px;
        }
        .right_nav{
            float: right;
        }
        .fa-user-circle-o:before {
            content: "\f2be";
            font-size: 17px;
        }
        .Goback {
            background-color: #303f2b;
            border: none;
            padding: 10px 22px;
            text-align: center;
            color: #FFFFFF;
            margin: 20px 0;
            opacity: 0.6;
            transition: 0.3s;
            cursor: pointer;
        }
        .Takebutton {
            background-color: #303f2b;
            border: none;
            padding: 10px 22px;
            text-align: center;
            color: #FFFFFF;
            margin: 20px 0;
            opacity: 1;
            transition: 0.3s;
            cursor: pointer;
        }

        .Takebutton:hover {opacity: 0.6}
        .Goback {
            background-color: #303f2b;
            border: none;
            padding: 10px 22px;
            text-align: center;
            color: #FFFFFF;
            margin: 20px 0;
            opacity: 0.6;
            transition: 0.3s;
            cursor: pointer;
        }
        .Takebutton {
            background-color: #303f2b;
            border: none;
            padding: 10px 22px;
            text-align: center;
            color: #FFFFFF;
            margin: 20px 0;
            opacity: 1;
            transition: 0.3s;
            cursor: pointer;
        }

        .Takebutton:hover {opacity: 0.6}

    </style>
    <header>
        <div class="topnav" id="myTopnav">
            <a href="/">Accueil</a>
            <a href="/products" class="active">Livres</a>
            <div class="right_nav">
                <a href="/login"><i class="fa fa-user-circle-o"></i></a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="responsiveNav()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <script>
            /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
            function responsiveNav() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </header>

    <main>
        <div class="popup_book">
            <img class="img2" src="media/book_2.jpg" alt="Antigone">
            <div class="content">
                <h1>Antigone</h1>
                <h3>Auteur</h3>
                <span>Jean Anouilh</span>
                <h3>Résumé</h3>
                <p>Créon, le roi de Thèbes, a interdit qu'on enterre le corps de Polynice selon les rites religieux. Sa soeur, Antigone, se révolte et brave la décision de Créon : elle est alors condamnée à mort. Des personnages s'affrontent violemment, une famille se déchire. Faut-il désobéir à la loi lorsqu'elle paraît injuste ? Telle est la question posée par Sophocle dans cette tragédie grecque</p>
                <button class="Goback" onclick="location.href='/products';"><i class="fa fa-arrow-left" aria-hidden="true"></i> Librairie</button>
                <button class="Takebutton"><i class="fa fa-ticket" aria-hidden="true"></i> Réserver</button>
            </div>
        </div>
    </main>
{% endblock %}

