<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This project is on personal use">
        <meta name="content" content="bibliotheque,livres,paris">
        <meta name="author" content="Ikram CHEHOUANI">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}Bibliothèques Paris{% endblock %}</title>
        <link id="icon_site" rel="icon"  type="image/png" href="media/icon_livres.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
