<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="This project is on personal use">
        <meta name="content" content="bibliotheque,livres,paris">
        <meta name="author" content="Ikram CHEHOUANI">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>{% block title %}Bibliotheque Paris{% endblock %}</title>
{#        <link rel="stylesheet" href="app.css">#}
        <link id="icon_site" rel="icon"  type="image/png" href="media/icon_livres.png">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{#        {% block stylesheets %}#}
{#            {{ encore_entry_link_tags('app') }}#}
{#        {% endblock %}#}


{#        {% block javascripts %}#}
{#            {{ encore_entry_script_tags('app') }}#}
{#        {% endblock %}#}
        <p></p>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
